name: Cross-Platform Build

on:
  push:
    branches: [main]
  workflow_dispatch:
    inputs:
      branch:
        description: "要构建的分支"
        required: true
        default: "dev"
        type: choice
        options:
          - dev
          - main
      target:
        description: "要构建的平台"
        required: true
        default: "all"
        type: choice
        options:
          - all
          - android
          - ios
          - macos
          - windows

jobs:
  setup:
    name: Setup
    runs-on: ubuntu-latest
    outputs:
      app-version: ${{ steps.get_version.outputs.app-version }}
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.inputs.branch }}
      - id: get_version
        run: |
          version=$(grep '^version:' pubspec.yaml | awk '{print $2}' | cut -d'+' -f1)
          echo "app-version=$version" >> $GITHUB_OUTPUT

  android-build:
    if: ${{ github.event.inputs.target == 'android' || github.event.inputs.target == 'all' }}
    name: Android Build
    needs: setup
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.inputs.branch }}

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: "17"
          distribution: "temurin"

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: "stable"
          flutter-version-file: pubspec.yaml

      - name: Cache Gradle
        uses: actions/cache@v4
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: Create key.properties
        run: |
          echo "storePassword=${{ secrets.STORE_PASSWORD }}" > android/key.properties
          echo "keyPassword=${{ secrets.KEY_PASSWORD }}" >> android/key.properties
          echo "keyAlias=${{ secrets.KEY_ALIAS }}" >> android/key.properties
          echo "storeFile=upload-keystore.jks" >> android/key.properties

      - name: Set up keystore
        run: |
          echo "${{ secrets.ANDROID_KEYSTORE }}" | base64 -d > android/app/upload-keystore.jks

      - name: Install dependencies
        run: flutter pub get

      - name: Build Universal APK
        run: flutter build apk --release

      - name: Build Split APKs
        run: flutter build apk --release --split-per-abi

      - name: Move And Rename APKs
        run: |
          version=${{ needs.setup.outputs.app-version }}
          mkdir -p artifacts
          for file in build/app/outputs/flutter-apk/*.apk; do
            filename=$(basename "$file")
            if [ "$filename" = "app-release.apk" ]; then
              filename="app-universal-release.apk"
            fi
            mv "$file" "artifacts/${filename%.apk}-v$version.apk"
          done

      - name: Upload APKs
        uses: actions/upload-artifact@v4
        with:
          name: android-apks
          path: artifacts/
          retention-days: 5

      - name: Notify Android Build
        uses: dawidd6/action-send-mail@v5
        with:
          server_address: smtp.qq.com
          server_port: 587
          username: ${{ secrets.EMAIL_USERNAME }}
          password: ${{ secrets.EMAIL_PASSWORD }}
          subject: Android Build Success
          to: ${{ secrets.EMAIL_TO }}
          from: ${{ secrets.EMAIL_FROM }}
          body: Android build completed. APKs attached.
          attachments: artifacts/app-arm64-v8a-release.apk

  ios-build:
    if: ${{ github.event.inputs.target == 'ios' || github.event.inputs.target == 'all' }}
    name: iOS Build
    needs: setup
    runs-on: macos-15

    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.inputs.branch }}

      - uses: subosito/flutter-action@v2
        with:
          channel: "stable"
          flutter-version-file: pubspec.yaml
          architecture: x64

      - run: sudo xcode-select --switch /Applications/Xcode_16.4.app

      - run: flutter pub get

      - name: Build unsigned IPA
        run: |
          flutter build ios --release --no-codesign
          mkdir -p build/ios/iphoneos/Payload
          mv build/ios/iphoneos/Runner.app build/ios/iphoneos/Payload/
          cd build/ios/iphoneos/
          zip -r no-codesign-ios-v${{ needs.setup.outputs.app-version }}.ipa Payload

      - name: Upload IPA
        uses: actions/upload-artifact@v4
        with:
          name: ios-ipa
          path: build/ios/iphoneos/*.ipa
          retention-days: 5

      - name: Notify iOS Build
        uses: dawidd6/action-send-mail@v5
        with:
          server_address: smtp.qq.com
          server_port: 587
          username: ${{ secrets.EMAIL_USERNAME }}
          password: ${{ secrets.EMAIL_PASSWORD }}
          subject: iOS Build Success
          to: ${{ secrets.EMAIL_TO }}
          from: ${{ secrets.EMAIL_FROM }}
          body: iOS build completed. IPA attached.
          attachments: build/ios/iphoneos/*.ipa

  windows-build:
    if: ${{ github.event.inputs.target == 'windows' || github.event.inputs.target == 'all' }}
    name: Windows Build
    needs: setup
    runs-on: windows-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.inputs.branch }}

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: "stable"
          flutter-version-file: pubspec.yaml

      - name: Install dependencies
        run: flutter pub get

      - name: Build Windows Release
        run: flutter build windows --release

      - name: Install Inno Setup
        run: choco install innosetup --no-progress -y

      - name: Create Inno Setup Script
        shell: pwsh
        run: |
          $version = "${{ needs.setup.outputs.app-version }}"
          $appName = "HaKa Comic"

          $exePath = Get-ChildItem -Path "build/windows/x64/runner/Release" -Filter "*.exe" | Select-Object -First 1
          $exeName = $exePath.Name

          # 构造输出文件名
          $outputFile = "$appName-Setup-v$version"
          $DefaultDir = "{autopf}/$appName"

          $content = @"
          [Setup]
          AppName=$appName
          AppVersion=$version
          DefaultDirName=$DefaultDir
          DefaultGroupName=$appName
          OutputBaseFilename=$outputFile
          Compression=lzma
          SolidCompression=yes

          [Files]
          Source: "assets/icons/pc/windows_icon.ico"; DestDir: "{app}"; Flags: ignoreversion
          Source: "build\\windows\\x64\\runner\\Release\\*"; DestDir: "{app}"; Flags: recursesubdirs

          [Icons]
          Name: `"{group}\$appName`"; Filename: `"{app}\$exeName`"; IconFilename: `"{app}\windows_icon.ico`"; WorkingDir: `"{app}`"
          Name: `"{userdesktop}\$appName`"; Filename: `"{app}\$exeName`"; IconFilename: `"{app}\windows_icon.ico`"; WorkingDir: `"{app}`"

          [Run]
          Filename: `"{app}\$exeName`"; WorkingDir: `"{app}`"; Flags: nowait postinstall skipifsilent

          [Code]
          // 删除 Flutter getApplicationSupportDirectory() 数据目录:
          // Windows 上等于: C:\Users\<User>\AppData\Roaming\HaKa Comic
          procedure CurUninstallStepChanged(CurUninstallStep: TUninstallStep);
          var
            SupportDir: string;
          begin
            if CurUninstallStep = usUninstall then
            begin
              SupportDir := ExpandConstant('{userappdata}\com.github.raoxwup\$appName');

              if DirExists(SupportDir) then
              begin
                Log('Removing ApplicationSupportDirectory: ' + SupportDir);
                DelTree(SupportDir, True, True, True);
              end;

              Log('Uninstall cleanup finished.');
            end;
          end;
          "@

          # 输出到文件
          $content | Out-File -FilePath installer.iss -Encoding ascii

      - name: Build Installer
        shell: pwsh
        run: |
          & "C:\Program Files (x86)\Inno Setup 6\ISCC.exe" "installer.iss"

      - name: Upload Windows Installer
        uses: actions/upload-artifact@v4
        with:
          name: windows-installer
          path: Output/*.exe
          retention-days: 5

  macos-build:
    if: ${{ github.event.inputs.target == 'macos' || github.event.inputs.target == 'all' }}
    name: MacOS Build
    needs: setup
    runs-on: macos-15

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.inputs.branch }}

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: "stable"
          flutter-version-file: pubspec.yaml

      - name: Install dependencies
        run: flutter pub get

      - name: Build MacOS Release
        run: flutter build macos --release

      - name: Install create-dmg
        run: npm install -g create-dmg

      - name: Package .app into DMG
        run: |
          version=${{ needs.setup.outputs.app-version }}
          cd build/macos/Build/Products/Release/
          # 获取 .app 名称
          appName=$(ls -d *.app | head -n 1)
          # 生成 DMG 文件名
          dmgName="${appName%.app}-v$version.dmg"
          echo "Packaging $appName into $dmgName"

          create-dmg "$appName" \
            --overwrite \
            --no-version-in-filename \
            --dmg-title "${appName%.app}" \
            --no-code-sign

          mv *.dmg "$dmgName"

      - name: Upload macOS DMG
        uses: actions/upload-artifact@v4
        with:
          name: macos-app-dmg
          path: build/macos/Build/Products/Release/*.dmg
          retention-days: 5
